@font-face {
    font-family: 'Witchwoode';
    src: url('Witchwoode-Regular.woff2') format('woff2'),
        url('Witchwoode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Witchwoode';
    src: url('Witchwoode-Regular.woff2') format('woff2'),
        url('Witchwoode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

